body{
    background-color: black;
}
header{
    display:grid;
    height:30vh;
    justify-content: center;
    align-items:center;
    color:white;
    background-color: transparent;
    border-bottom: 2px solid;
    border-color:rgb(255, 255, 255);
}
#inicio h2{
    position: relative;
    right:15%;
}
#inicio h3{
    position: relative;
    left:5%;
}
#sobre_noís{
    color:white;
    background-color: transparent;
}
#top-barr ul{
    display:flex;
    position:relative;
    list-style:none;
    justify-content: center;
    margin:0%;
    background-color: gray;
    padding-right:13%;
    border-bottom:2px solid;
    border-color:white;
}
#top-barr li{
    margin:30px;
}