@font-face {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    src: url();
}
body{
    background-color: #E5E8F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    width:100%;
}

.card-boas-vindas{
    width: 100%;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

#img-boas-vindas{
    width: 100%;
    margin-left: -10px;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    color: #C7D1D6;
    margin: -10px 0 0 -10px;
    background-color: rgb(50, 50, 50);
    
}
.topo li{
    color: #C7D1D6;
    
}
.menu{
    display:flex ;
    list-style:none;
    width:450px;
    gap: 15%;
    border-bottom: 3px solid; 
    border-bottom-left-radius: 30px; 
    
}
.menu button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px 10px 0 0;

    transition: box-shadow 0.5s,
                color 0.5s;
    
}
.menu button:hover{
    box-shadow: 0 -7px 10px white;
    color:#000;
}
#corpo{
    display:grid;
    gap:5%;
    padding-left: 5%;
    background-color: #969EA7;
    margin: 0 0 0 -10px;
    grid-template-columns: repeat(3,380px) ;
}
.card-box{
    display:inline;
    width:300px;
    height:500px;
    color:azure;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 0 15px;
    box-shadow: 0 0 20px black;


    transition: box-shadow 0.5s;
}
.card-box:hover{
    box-shadow: 0 0 20px rgb(213, 205, 255);
}
.card-box img{
    width:200px;
    height:150px;
}
.card-box button{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width:100px;
    color:white;
    background-color: transparent;
    border: 2px solid;
    border-color: rgb(192, 209, 255);
    border-radius: 12px;
    
    transition: box-shadow 0.5s,

}
.card-box button:hover{
    box-shadow: 0 0 20px rgb(173, 243, 255);
}

/*Descrição Cesio*/

.corpo_C{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-end;
}

.desc_cesio{
    display: flex;
    flex-direction: column-reverse;
    
}

.preco_cesio{
    display: flex;
    position: relative;
    bottom: -150px;
    right: -450px;
    font-size: 45px;
    
}

/*Descrição oregano*/

.corpo_O{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-end;
}

.desc_oregano{
    display: flex;
    flex-direction: column-reverse;
}

.preco_oregano{
    display: flex;
    position: relative;
    bottom: -150px;
    right: -450px;
    font-size: 45px;
}

/*Descrição Manual*/

.corpo_M{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-end;

}

.desc_manual{
   display: flex;
   flex-direction: column-reverse;
}

.preco_manual{
    display: flex;
    position: relative;
    bottom: -150px;
    right: -450px;
    font-size: 25px;

}

/*Descrição Totem*/

.corpo_T{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-end;
}

.desc_totem{
   display: flex;
   flex-direction: column-reverse;
}

.preco_totem{
    display: flex;
    position: relative;
    bottom: -150px;
    right: -450px;
    font-size: 45px;
}

/*Descrição Ps6*/

.corpo_PS{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-end;

}
.desc_ps6{
    display: flex;
    flex-direction: column-reverse;
}

.preco_ps6{
    display: flex;
    position: relative;
    bottom: -150px;
    right: -250px;
    font-size: 25px;
}

#checkbox_toggle{
    display:none;
}

.hamburger{
    display:none;
    font-size: 24px;
    user-select:none;
}

/*ATIVANDO A RESPONSIVIDADE PARA CELULAR*/
@media (max-width: 768px){
    #corpo{
        justify-content: center;
        grid-template-columns: repeat(1,380px);
    }

    .hamburger{
        display:block;
        cursor:pointer;
        position:absolute;
        left:10px;
        top:20px;
    }
    #checkbox_toggle:checked ~ .navbar{
        transform: scale(1);
    }
    .menu{
        position: absolute;
        left:50%;
        top:50%;
        margin:0;
        padding:0;
        text-align: center;
        border:2px solid #000;
        border-radius: 10px;
        background-color: rgb(50, 50, 50);
        color:#fff;
        width:10rem;
        transform: translate(-50%,-50%);
    }
    .menu button{
        color:black;
        border-radius:0;
        width:100%;
    }
    .navbar{
        display: inline-block;
        position: absolute;
        top:15%;
        left:10%;
        text-align: center;
        padding: 16px;
        transform: scale(0);
    }
    .navbar .menu{
        display:block;
    }
}
/*ATIVANDO A RESPONSIVIDADE PARA TABLET*/
@media (min-width: 769px) and (max-width: 1024px){
    #corpo{
        justify-content: center;
        grid-template-columns: repeat(2,380px);
    }

    .hamburger{
        display:block;
        cursor:pointer;
        position:absolute;
        left:10px;
        top:20px;
    }
    #checkbox_toggle:checked ~ .navbar{
        transform: scale(1);
    }
    .menu{
        position: absolute;
        left:50%;
        top:50%;
        margin:0;
        padding:0;
        text-align: center;
        border:2px solid #000;
        border-radius: 10px;
        background-color: rgb(50, 50, 50);
        color:#fff;
        width:10rem;
        transform: translate(-50%,-50%);
    }
    .menu button{
        color:black;
        border-radius:0;
        width:100%;
    }
    .navbar{
        display: inline-block;
        position: absolute;
        top:15%;
        left:10%;
        text-align: center;
        padding: 16px;
        transform: scale(0);
    }
    .navbar .menu{
        display:block;
    }
}
