@font-face {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    src: url();
}

.card-boas-vindas{
    width: 100%;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

#img-boas-vindas{
    width: 100%;
    margin-left: -10px;
}

body{
    background-color: #E5E8F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    width:100%;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    color: #C7D1D6;
    margin: -10px 0 0 -10px;
    background-color: rgb(50, 50, 50);
    
}
.topo li{
    color: #C7D1D6;
    
}
#menu{
    display:flex ;
    list-style:none;
    width:450px;
    gap: 15%;
    border-bottom: 3px solid; 
    border-bottom-left-radius: 30px; 
    
}
#menu button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px 10px 0 0;

    transition: box-shadow 0.5s,
                color 0.5s;
    
}
#menu button:hover{
    box-shadow: 0 -7px 10px white;
    color:white;
}
#corpo{
    display:grid;
    gap:5%;
    padding-left: 5%;
    background-color: #969EA7;
    margin: 0 0 0 -10px;
}
.card-box{
    display:inline;
    width:300px;
    height:500px;
    color:azure;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 0 15px;
    box-shadow: 0 0 20px black;


    transition: box-shadow 0.5s;
}
.card-box:hover{
    box-shadow: 0 0 20px rgb(213, 205, 255);
}
.card-box img{
    width:200px;
    height:150px;
}
.card-box button{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width:100px;
    color:white;
    background-color: transparent;
    border: 2px solid;
    border-color: rgb(192, 209, 255);
    border-radius: 12px;
    
    transition: box-shadow 0.5s,

}
.card-box button:hover{
    box-shadow: 0 0 20px rgb(173, 243, 255);
}

/*Descrição cesio*/

.desc_cesio{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
    max-width: 400px;
}

.preco_cesio{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
}


/*Descrição oregano*/

.desc_oregano{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
    max-width: 400px;
}

.preco_oregano{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
}

/*Descrição Manual*/

.desc_manual{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
    max-width: 400px;
}

.preco_manual{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
}

/*Descrição Totem*/

.desc_totem{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
    max-width: 400px;
}

.preco_totem{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
}

/*Descrição Ps6*/

.desc_ps6{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
    max-width: 400px;
}

.preco_ps6{
    display: flex;
    position: relative;
    top: -200px;
    right: -1000px;
}

