@font-face {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    src: url();
}

body{
    background-color: rgb(50, 50, 130);
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    width:100%;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
    color:black;
    margin: -10px 0 0 -10px;
    background-color: rgb(50, 50, 50);
}
.topo li{
    color:black;

}
#menu{
    display:flex ;
    list-style:none;
    width:450px;
    gap: 30%;
    border-bottom: 3px solid; 
    border-bottom-left-radius: 30px; 
}
#menu button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px 10px 0 0;

    transition: box-shadow 0.5s,
                color 0.5s;
    
}
#menu button:hover{
    box-shadow: 0 -7px 10px white;
    color:white;
}
#corpo{
    display:flex;
    flex-wrap: wrap;
    gap:5%;
    padding-left: 5%;
    background-color: rgb(50, 50, 130);
    margin: 0 0 0 -10px;
}
.card-box{
    display:inline;
    width:300px;
    height:500px;
    color:azure;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0 0 15px;
    box-shadow: 0 0 20px black;


    transition: box-shadow 0.5s;
}
.card-box:hover{
    box-shadow: 0 0 20px rgb(130,50,50);
}
.card-box img{
    width:200px;
    height:150px;
}
.card-box button{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width:100px;
    color:white;
    background-color: transparent;
    border: 2px solid;
    border-color: rgb(130,50,50);
    border-radius: 12px;
    
    transition: box-shadow 0.5s,

}
.card-box button:hover{
    box-shadow: 0 0 20px rgb(130,50,50);
}

