body{
    font-family: 'Courier New', Courier, monospace;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}
.form-conteiner{
    text-align: center;
    background: rgb(100,100,100);
    margin-bottom: 20px;
    border: 3px solid;
    border-color: gray;
    width: 50vh;
    height: 40vh;
}

.form-group{
    margin-bottom: 40px;
}

.form-group label{
    width: 100%;
    margin-bottom: 5px;
    color:rgb(22, 18, 66);
}
.form-conteiner h2{
    color: white;
}